.map {
  margin-top: 20px;
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.active {
  margin-top: 20px;
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  transition-delay: 1s;
}
